.navbar{
    height: 72px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.menuList{
    display: flex;
    align-items: centers;
    gap: 24px;
    list-style: none;
    font-weight: 600;
    color: #2E2E2E;
}
button{
    padding: 6px 16px;
    background-color: #D01C28;
    border: none;
    color: white;
    font-weight: 600;
}
/* Hero working here .........  */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    height: calc(100vh - 180px);
}
.text-container{
    width: 650px;
    gap: 30px;
}
.heading{
    color: black;
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
}
.shoe-img{
    margin-top: 100px;
}