.navbar{
    height: 72px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.menuList{
    display: flex;
    align-items: centers;
    gap: 24px;
    list-style: none;
    font-weight: 600;
    color: #2E2E2E;
}
button{
    padding: 6px 16px;
    background-color: #D01C28;
    border: none;
    color: white;
    font-weight: 600;
}
/* Hero working here .........  */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    height: calc(100vh - 180px);
}
.text-container{
    width: 650px;
    gap: 30px;
}
.heading{
    color: black;
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
}
.shoe-img{
    margin-top: 100px;
}
.btn-1{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 6px 16px;
}
.btn-2{
        color: var(--GRAY, #5A5959);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 6px 16px;
        margin-left: 40px;
        background-color: #FFF;
        border: 1px solid #000;
}
.text-container img{
    margin-right: 16px;
}